/* Footer to Bottom */
html, body { height: 100%; }

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -3em;
}

#footer, .push { height: 3em; }

/* Overall */
#header {
background-color: #DDD;
}

#content {
background-color: #CCC;
}

#footer {
background-color: #BBB;
}

/* Main */


/* Description */
