body {
    margin: auto;
    width: 960px;
    background-image:url('../img/bg_texture.jpg');
}

/* Overall */
#header {
background-color: rgba(18,64,171,0.5);
}

#content {
background-color: #CCC;
}

#footer {
background-color: #BBB;
}

#pitch, #descrip {
    margin: 10px;
    padding: 5px;
}

/* Main */

/* Description */
